/* styles/ChannelCard.css */

.channel-card-container {
  box-shadow: none;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
  max-width: 356px; 
  height: 326px;
  margin: auto;
}

.card-link {
  text-decoration: none;
  color:blue; 
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
}

.profile-picture {
  border-radius: 50%;
  height: 180px;
  width: 180px;
  margin-bottom: 10px; 
  border: 1px solid #e3e3e3;
}

.channel-title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 6px; 
}

.check-icon {
  font-size: 1rem;
  color: gray;
  margin-left: 4px; 
}

.subscriber-count {
  font-size: 1rem;
  color: gray;
}
