* {
    box-sizing: border-box;
}

.feed-container {
    display: flex;
}

.videos-container {
    display: flex;

}

.video-card {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
}

.video-thumbnail {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.video-description {
    font-size: 14px;
    color: #666;
}