.videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.videos div {
  margin: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px black;
}
.img {
    width: 480px ;
    height: 360px ;
}