.videos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  /* width: 1000px;
  height: 950px; */
}
.videos-title {
  font-size: 24px;
  margin: 8px;
  display: block;
}
.highlight-color {
  color: #ff4500;
}
.videos{
 display: flex;
 flex-wrap: wrap;
 width: 400px;
 height: 300px; 
 overflow: hidden;
 justify-content: flex-end;
 align-items:flex-end;

}
